-e git://github.com/xeroc/python-graphenelib@feature/separation-gph-bts#egg=graphenelib
-e git://github.com/xeroc/python-steem@develop#egg=steem
-e git://github.com/xeroc/python-bitshares@develop#egg=bitshares

redis
Flask==0.10.1
Flask_SocketIO
Jinja2==2.7.3
python-socketio
sqlalchemy
gunicorn
pyyaml
